<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

 <web-app>
   <display-name>CIS450 Project</display-name>
    
   <servlet>
     <servlet-name>LoginServlet</servlet-name>
     <servlet-class>com.datformers.servlet.LoginServlet</servlet-class> 
   </servlet>
   
   <servlet-mapping>
     <servlet-name>LoginServlet</servlet-name>
     <url-pattern>/login</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>ListingServlet</servlet-name>
     <servlet-class>com.datformers.servlet.ListingServlet</servlet-class> 
   </servlet>
   
   <servlet-mapping>
     <servlet-name>ListingServlet</servlet-name>
     <url-pattern>/list</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>Details</servlet-name>
      <jsp-file>/details.html</jsp-file> 
   </servlet>
   
   <servlet-mapping>
     <servlet-name>Details</servlet-name>
     <url-pattern>/details.html</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>SearchServlet</servlet-name>
     <servlet-class>com.datformers.servlet.Search</servlet-class> 
   </servlet>
   
   <servlet-mapping>
     <servlet-name>SearchServlet</servlet-name>
     <url-pattern>/search</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>AddUser</servlet-name>
     <servlet-class>com.datformers.servlet.addAppUser</servlet-class> 
   </servlet>
   
   <servlet-mapping>
     <servlet-name>AddUser</servlet-name>
     <url-pattern>/register</url-pattern>
   </servlet-mapping>    
   
   <servlet>
     <servlet-name>HeatMapServlet</servlet-name>
     <servlet-class>com.datformers.servlet.HeatMapServlet</servlet-class> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>HeatMapServlet</servlet-name>
     <url-pattern>/heatmap/*</url-pattern>
   </servlet-mapping>
   
   <servlet>
     <servlet-name>HeatMap</servlet-name>
     <jsp-file>/heatmap.jsp</jsp-file> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>HeatMap</servlet-name>
     <url-pattern>/heat</url-pattern>
   </servlet-mapping>
   
      <servlet>
     <servlet-name>MainPage</servlet-name>
     <jsp-file>/main.html</jsp-file> 
   </servlet>
    
   <servlet-mapping>
     <servlet-name>MainPage</servlet-name>
     <url-pattern>/main.html</url-pattern>
   </servlet-mapping>

</web-app>
